*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", serif
}
/* header */
header {
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
}
header {
    width: 100%;
}
.logo img {
    max-width: 80%;
}
.navbar ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 20px ;
}
.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
}
.navbar a:hover {
    color: orange;
}
/* banner */
.banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgb(255, 255, 255);
}
.banner-content h1{
    font-size: 3rem;
    margin-bottom: 5px;
}
.banner-content p {
    font-size: 1.3rem;
    margin-bottom: 25px;
}
.bannerbtn {
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    transition: ease-out 0.3s;
    font-size: 1.2rem;
}
.bannerbtn:hover {
    background-color: gray;  
}
/* place Section */
.place-heading h2 {
    font-size: 2rem;
    padding: 40px 0;
    text-align: center;
}
.place-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
.place-item img {
    width: 100%;
    height: 350px;
}
.place-item h3 {
    margin: 20px 0;
}
/* featured & Activity */
.Feature-heading h2 {
    font-size: 2rem;
    padding-top: 150px;
    padding-bottom: 60px;
    text-align: center;
}
/* About Us section */
.about {
    text-align: center;
    padding: 80px;
    margin-top: 80px;
}
.about h3  {
    font-size: 2rem;
    padding-bottom: 20px ;
}
.about p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding-bottom: 20px;
    padding-left: 200px;
}
.team-members {
    display: flex;
     flex-wrap: wrap;
}
.team-member  img{
     width: 290px;
     height: 300px;
     margin-left: 30px; 
     object-fit: cover;  
}
.team-member h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.team-member p {
    padding: 0px;
}
/* contact us */
.contact {
    padding: 80px;
    text-align: center;
    background-color: #f7f7f7;
}
.contact h3 {
    font-size: 2rem;
}
.contact-info p {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-info ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.contact-info li {
    margin: 0 20px;
    font-size: 1.2rem;
}
.contact-info li a {
    text-decoration: none;
}
.contact-info i {
    margin-right: 10px;
}
.form {
    width: 100%;
}
input,textarea {
    width: 70%;
    padding: 15px ;
    margin: 20px 0;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0,0.1);
    border-radius: 5px;
    font-size: 1.2rem;
}
textarea {
    height: 200px;
}
.form button {
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 20px;
    border-radius: 50px;
    transition: ease-out 0.3s;
    font-size: 1.2rem;
    border: none;
}
.form button:hover {
    background-color: gray;
}
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}
